.body{
    padding: 200px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}
.header {
    background-color: #640080;
    text-align: left;
    padding: 10px;
}


#main {
    text-align: center;
    float:right;
    width:85%;
    background:white;
    }

#sidebar {
    float:left;
    width:15%;
    background: #640080;
    }


#footer {
        clear:both;
        background:#640080;
        }